.tasks-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Set position relative for absolute positioning */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .logout-button {
    position: absolute; /* Position the button absolutely */
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  .task-form {
    text-align: center; /* Center align the form */
  }
  
  .task-form input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .task-form button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .task-form button:hover {
    background-color: #45a049;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  
  .task-item strong {
    font-weight: bold;
  }
  
  .edit-icon {
    width: auto; /* Make the width flexible */
    height: auto; /* Make the height flexible */
    max-width: 20px; /* Set a maximum width */
    max-height: 20px; /* Set a maximum height */
    margin-left: 50px;
    background: transparent;
  }
